html, body, header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (max-width: 767px) {
    .sizeLogo {
        width: 90%!important;
    }
    .sizeDoctor {
        display: none!important;
    }
}

body {
  background-image: url("../img/doctor-tablet2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mensajeError {
    color: red;
    font-size: 14px;
    padding: 10px;
}

.sizeLogo {
    margin: 0 auto;
    width: 70%;
}

.sizeDoctor {
    margin-top: -4em;
    margin-bottom: -4em;
    width: 100%;
}

.formBackground {
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 3px;
}

#datosProfesional {
    visibility: hidden;
}
