html, body, header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

body {
  background-image: url("../img/doctor-tablet2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mensajeError {
    color: red;
    font-size: 14px;
    padding: 10px;
}

.sizeLogo {
    margin: 0 auto;
    width: 100%;
}

.sizeDoctor {
    margin-top: -4em;
    width: 100%;
}

.formBackground {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

/* .registroOK {
    text-align: center;
    color: green;
} */

#datosProfesional {
    visibility: hidden;
}
